<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav nav-item mr-auto">
        <li class="nav-link"><%= link_to "Home", index_path,:class => 'btn', :style => 'color:white' %></li>
        <li class="nav-link"> <%= link_to "Add Post", new_post_path ,:class => 'btn', :style => 'color:white'%></li>
        <li class="nav-link"> <%= link_to "About Us", about_path ,:class => 'btn', :style => 'color:white' %></li>
      </ul>
      <form class="form-inline mt-2 mt-md-0 ">
        <% if !current_user %>
          <%= link_to 'Sign Up', new_user_registration_path, :class => 'btn', :style => 'color:white' %>
          <%= link_to 'Sign in', new_user_session_path ,:class => 'btn', :style => 'color:white' %>
        <% else %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete ,:class => 'btn', :style => 'color:white' %>        
        <% end %>
      </form>
    </div>
  </nav>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
